.image_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
   width: 100%;
   grid-gap: 5px;
   /* border: 2px solid blue; */
}
.item{
    width: 100%;
    height: 400px;
    /* border: 2px solid red; */
    /* grid-gap: 5px; */
    
}
.item img{
    width: 100%;
   height: 100%;
}
.item_1{
    grid-column-start: 1;
     grid-column-end: 7;
     grid-row-start: 1;
     grid-row-end: 3;
     
}

.item_2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:  5;
}

.item_3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item_4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;

    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    /* grid-gap: 5px; */
    border: 3px solid rgb(6, 223, 17);

    
 
}

/* .item_4 img{
   
    width: 100%;
  height: auto;
} */
.item_4_1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  
    border: 2px solid red;
    max-height:100% ;
    
}
.item_4_2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    min-height:100% ;
 
    border: 2px solid blue;
}

.img_4{
 max-height: 100%;
 object-fit: cover;
 overflow: hidden;
}



.item_5{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:5;
    grid-row-end: 7;
   
}
.item_6{
    grid-column-start:3 ;
    grid-column-end: 5;
    grid-row-start:5 ;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
}

.item_6_1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item_6_2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.item_6_3{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item_6_4{
    grid-column-start: 3;
    grid-column-end: 5;
}

.item_7{
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start:5;
    grid-row-end: 7;
   
}

